.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44PX;
  padding: 0 10PX 0 18PX;
  font-size: 16PX;
  color: #fff;
  background: linear-gradient(to right, #db4437, #f09819);
  z-index: 9999;
}
/* 标题要居中 */
.nav-title {
  line-height: 44PX;
}
